
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC Table - Catagories</h3>
<br />
<table class="table table-bordered">
    <tr style="color: #b1e81a">
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Category Description</th>
        <th>Category Status</th>
        <th>Update</th>
    </tr>

    <tr>
        <td>2</td>
        <td>Action Movies</td>
        <td>This part is action movie catagory</td>
        <td>True</td>
        <td><button class="btn btn-warning">Update</button></td>
    </tr>

    <tr>
        <td>4</td>
        <td>Dram Movies</td>
        <td>This part is dram movie catagory</td>
        <td>True</td>
        <td><button class="btn btn-warning">Update</button></td>
    </tr>

    <tr>
        <td>5</td>
        <td>Horror Movies</td>
        <td>This part is horror movie catagory</td>
        <td>True</td>
        <td><button class="btn btn-warning">Update</button></td>
    </tr>

    <tr>
        <td>6</td>
        <td>Comedy Movies</td>
        <td>This part is comedy movie catagory</td>
        <td>True</td>
        <td><button class="btn btn-warning">Update</button></td>
    </tr>

    <tr>
        <td>7</td>
        <td>Sci-Fi Movies</td>
        <td>This part is sci-fi movie catagory</td>
        <td>True</td>
        <td><button class="btn btn-warning">Update</button></td>
    </tr>
</table>
<button class="btn btn-danger">New Category</button>
<button class="btn btn-dark">Category List</button>
<button class="btn btn-info">Category Description</button>

